@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.swiper-button-prev,
.swiper-button-next {
    width: 44px;
    height: 44px;
    color: #ff9027;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}
[x-cloak] {
    display: none !important;
}
