@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.swiper-button-prev,
.swiper-button-next {
    width: 44px;
    height: 44px;
    color: #ff9027;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}
[x-cloak] {
    display: none !important;
}

@layer components {
    .swiper-pagination {
        left: unset !important;
        right: unset !important;
        width: unset !important;

        @apply left-1/2 -translate-x-1/2 !important;
    }
    .swiper-pagination-bullet-active {
        background-color: #FF9027 !important;
        width: 10px !important;
        height: 10px !important;
        transition: all 0.2s ease-in-out;
        background: #FF9027 !important;
        opacity: 1 !important;
    }

    .swiper .swiper-pagination-bullet-active,
    .swiper-wrapper .swiper-pagination-bullet-active {
        width: 14px !important;
        height: 14px !important;
        background: #FF9027 !important;
        opacity: 1 !important;
    }

}